{% extends "base.html" %}
{% block title %}Add Event{% endblock %}

{% block content %}
<div class="container mt-5 p-4 bg-light shadow rounded">
    <h1 class="text-center mb-4" style="color: #003366;">Add a New Event</h1>

    <!-- form start -->
    <form method="POST">
        <!-- event title -->
        <div class="form-group">
            <label for="eventTitle" class="font-weight-bold">Event Title</label>
            <input type="text" class="form-control" id="eventTitle" name="event" placeholder="Enter the event title" required>
        </div>

        <!-- date of event -->
        <div class="form-group">
            <label for="eventDate" class="font-weight-bold">Date of Event</label>
            <input type="date" class="form-control" id="eventDate" name="date_of_event" required>
        </div>

        <!-- time of event -->
        <div class="form-group">
            <label for="eventTime" class="font-weight-bold">Time of Event</label>
            <input type="time" class="form-control" id="eventTime" name="time_of_event" required>
        </div>

        <!-- location -->
        <div class="form-group">
            <label for="eventLocation" class="font-weight-bold">Location</label>
            <textarea class="form-control" id="eventLocation" name="location" rows="1" placeholder="Provide the address/location" required></textarea>
        </div>

        <!-- description -->
        <div class="form-group">
            <label for="eventDescription" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="eventDescription" name="description" rows="3" placeholder="Provide a brief description" required></textarea>
        </div>

        <!-- type of event -->
        <div class="form-check form-check-inline">
            <label for="eventType" class="font-weight-bold pr-3">Type of Event</label>
            {% for cur_interest in interests %}
            <input class="form-check-input" type="checkbox" name="interest_ids"
                id="{{ cur_interest.id }}" value="{{ cur_interest.id }}">
            <label class="form-check-label pr-3" for="{{ cur_interest.id }}">{{ cur_interest.name }}</label>
            {% endfor %}
        </div>

        <!-- submit button -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg px-5">Add Event</button>
        </div>
    </form>
    <!-- Form end -->


</div>


{% endblock %}
