{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Events</h1>

<div class="container">
    <div class="text-left" style="margin-bottom: 20px;">
        <a href="{{ url_for('views.add_event') }}" class="btn btn-primary">Add Event</a>
    </div>

    <ul class="list-group list-group-flush" id="events">
        <!-- use the events variable passed from the view -->
        {% for event in events %}  
        <li class="list-group-item">
            <a href="{{ url_for('views.event_details', event_id=event.id) }}">{{ event.title }}</a>
            <!-- displaying the formatted date -->
            <span class="text-muted" style="margin-left: 10px;">{{ event.formatted_date }}</span>  
            <!-- displaying the formatted time -->
            <span class="text-muted" style="margin-left: 10px;">{{ event.formatted_time }}</span>  
            
            </button>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
