{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Events</h1>

<div class="container">
    <div class="text-left mt-4">
        <a href="{{ url_for('views.add_event') }}" class="btn btn-primary">Add Event</a>
    </div>
    <br>

    <div class="list-group" id="events">
        <!-- loop through the events and create a button for each one -->
        {% for event in events %}
        <a href="{{ url_for('views.event_details', event_id=event.id) }}" class="btn btn-event">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>{{ event.title }}</span>
                    {% if current_user.interests != None and event.type_of_event in current_user.interests.split(",") %}
                    <small class="text-muted d-block" style="background-color: yellow">Type: {{ event.type_of_event.replace("-", " ").title() }}</small>
                    {% else %}
                    <small class="text-muted d-block">Type: {{ event.type_of_event.replace("-", " ").title() }}</small>
                    {% endif %}
                    <small class="text-muted d-block">Location: {{ event.location }}</small>
                </div>
                <!-- display the formatted date and time -->
                <span class="text-muted">
                    {{ event.formatted_date }} | {{ event.formatted_time }}
                </span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<style>
    /* css for the event 'buttons' */
    .btn-event {
        display: block;
        width: 100%;
        /* light gray background */
        background-color: #f0f0f5; 
        /* dark blue text */
        color: #003366; 
        margin-bottom: 10px;
        text-align: left;
        padding: 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .btn-event:hover {
        /* slightly darker on hover */
        background-color: #dce1e8; 
    }

    .btn-event span {
        /* slightly larger font for the event name*/
        font-size: 1.1em; 
    }

    .btn-event small {
        /* lighter color and smaller text for the event type */
        font-size: 0.9em;
        color: #666; 
    }
</style>

{% endblock %}
