{% extends "base.html" %}
{% block title %}Saved Events{% endblock %}

{% block content %}
<br>
<h1 align="center">Saved Events</h1>

<div class="container">
    <div class="list-group" id="events">
        <!-- loop through the events and create a button for each one -->
        {% for event in events %}
        <a href="{{ url_for('views.event_details', event_id=event.id) }}" class="btn btn-event">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>{{ event.title }}</span>
                    <ul class="list-group list-group-horizontal py-2">
                        {% for cur_interest_name in event.common_interest_names %}
                        <li class="list-group-item list-group-item-primary py-1">{{ cur_interest_name }}</li>
                        {% endfor %}
                        {% for cur_interest_name in event.not_common_interest_names %}
                        <li class="list-group-item py-1">{{ cur_interest_name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- display the formatted date and time -->
                <span class="text-muted">
                    {{ event.formatted_date }} | {{ event.formatted_time }}
                </span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<style>
    /* css for the event 'buttons' */
    .btn-event {
        display: block;
        width: 100%;
        /* light gray background */
        background-color: #f0f0f5; 
        /* dark blue text */
        color: #003366; 
        margin-bottom: 10px;
        text-align: left;
        padding: 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .btn-event:hover {
        /* slightly darker on hover */
        background-color: #dce1e8; 
    }

    .btn-event span {
        /* slightly larger font for the event name*/
        font-size: 1.1em; 
    }

    .btn-event small {
        /* lighter color and smaller text for the event type */
        font-size: 0.9em;
        color: #666; 
    }
</style>

{% endblock %}
